/* Estilos generales */
:root {
    --lavanda-oscuro: #363062;
    --lavanda-medio: #827397;
    --lavanda-rosado: #E9D5DA;
    --lavanda-claro: #8d88a1;
    --verde-menta: #96D4C4;
    --gris-oscuro: #4C4C4C;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
body {
font-size: 1.2em;
line-height: 1.5;
background-color: #f7f7f7;
color: #333;
font-family: 'Montserrat', sans-serif;
}

a {
color: #333;
text-decoration: none;
}

ul {
list-style: none;
}

/* Header */

header {
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
top: 0;
z-index: 10;
position: inherit;
width: 100vw;
}

h1 {
font-size: 2.5rem;
font-weight: bold;
margin: 0;
}

.foto_de_perfil{
	width: 40%;
	border-radius: 50%;
}

nav ul {
display: flex;
flex-wrap: wrap;
}

nav ul li:not(:last-child) {
margin-right: 1.875rem;
}

nav ul li a {
font-size: 1.2rem;
font-weight: bold;
letter-spacing: 0.0625rem;
text-transform: uppercase;
position: relative;
}

nav ul li a:before {
content: '';
position: absolute;
bottom: -0.125rem;
left: 0;
width: 0;
height: 0.125rem;
background-color: #0077c0;
transition: width 0.3s ease-in-out;
}

nav ul li a:hover:before {
width: 100%;
}

/* Cuerpo */

.cuerpo {
padding: 3.125rem 1.25rem;
max-width: 1200px;
min-width: 320px;
margin: 0 auto;
}

section {
margin-bottom: 3.125rem;
}

#sobre-mi h2{
	margin-top: 0;
}

h2 {
font-size: 2rem;
font-weight: bold;
margin-bottom: 1.25rem;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.125rem;
color: #333;
margin-top: 4rem;
}

ul li {
margin-bottom: 2rem;
}

li {
	padding-left: 1.25rem;
}
  
li i {
	margin-right: 0.625rem;
}
  

ul li h3 {
font-size: 1.4rem;
font-weight: bold;
margin-bottom: 0.625rem;
text-transform: uppercase;
letter-spacing: 0.0625rem;
color: #0077c0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
.habilidades__hobbies {
	display: inline-block;
	width: 25%;
	text-align: center;
	margin-bottom: 20px;
	float: left;
  }
  
  @media (max-width: 767px) {
	li {
	  width: 50%;
	}
  }
  

/* Estilos para la sección de proyectos */
#proyectos {
background-color: #fff;
padding: 3.125rem 1.25rem;
}

section#proyectos h2 {
margin-bottom: 3.125rem;
}

section#proyectos ul {
margin: 0;
list-style: none;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
grid-gap: 1.875rem;
}

section#proyectos li {
background-color: #f7f7f7;
padding: 1.875rem;
display: flex;
flex-direction: column;
box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease-in-out;
}

section#proyectos li:hover {
transform: translateY(-0.625rem);
}

section#proyectos li h3 {
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 1.25rem;
color: #333;
}

section#proyectos li p {
flex-grow: 1;
}

section#proyectos li img {
width: 100%;
height: auto;
object-fit: cover;
}

section#proyectos li h3 {
margin-top: 0.625rem;
font-size: 1.5rem;
font-weight: bold;
color: #0077c0;
}

section#proyectos li span {
font-size: 1.125rem;
line-height: 1.5;
color: #333;
}

section#proyectos li a {
margin-top: 1.25rem;
background-color: #0077c0;
color: #fff;
border-radius: 0.3125rem;
text-align: center;
transition: background-color 0.3s ease;
width: 100%;
}

section#proyectos li a:hover {
background-color: #005c91;
}

.proyectos__listas{
	padding: 0.625px;
}

.texto__repositorio{
	padding: 0.625px;
}

@media (max-width: 768px) {
section#proyectos li {
width: 90%;
margin: 5% 0;
}
}

.principal__contacto{
    display: flex;
    justify-content: space-around;
}

.ubicacion{
    width: 40%;
    
}

.contacto{
    width: 40%;
    margin: auto;
}

.principal__contacto label {
display: block;
font-size: 16px;
margin-bottom: 10px;
}

.principal__contacto input[type="text"], .principal__contacto input[type="email"], .principal__contacto textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 20px;
}

.principal__contacto button[type="submit"] {
background-color: #333;
color: var(--verde-menta);
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
margin-left: 38%;
}

.principal__contacto button[type="submit"]:hover {
background-color: #555;
}

.boton__pdf{
	background-color: #555;
	color: var(--verde-menta);
	padding: 0.625rem 1.25rem;
	border: none;
	border-radius: 0.3rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

/* Footer */

footer {
background-color: #333;
color: #fff;
padding: 1.25rem;
text-align: center;
}

footer p {
margin-bottom: 1.25rem;
}

footer a {
color: #fff;
text-decoration: underline;
}

footer a:hover {
color: #0077c0;
}

/*scroll*/

.scroll-top-btn {
position: fixed;
bottom: 30px;
right: 30px;
width: 50px;
height: 50px;
background-color: #3b3b3b;
border-radius: 50%;
border: none;
cursor: pointer;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s ease;
}

.scroll-top-btn:hover {
background-color: #4f4f4f;
}

.scroll-top-btn:focus {
outline: none;
}

.scroll-top-btn i {
font-size: 24px;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
transition: opacity 0.3s ease;
}

.scroll-top-btn:hover i,
.scroll-top-btn:focus i {
opacity: 1;
}

.scroll-top-btn-show {
transform: translateY(0);
opacity: 1;
pointer-events: auto;
}




/* Footer */

footer {
	color: #fff;
	padding: 1.25rem;
	text-align: center;
	display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	}

	#animacion{
		width: 100%;
	}
		
	footer p {
	margin-bottom: 1.25rem;
	}
	
	footer a {
	color: #fff;
	text-decoration: underline;
	}
	
	footer a:hover {
	color: #0077c0;
	}
	
	.footer__social {
		display: flex;
		padding: 1rem;
		display: flex;
		justify-content: center;
		margin-bottom: 2.5rem;
	}
	
	.footer__midia img, .fa-linkedin {
	   
		width: 2.5rem;
		height: 2.5rem;
		margin: 0 0.625rem;
		font-size: 1rem;
		font-size: 2.5rem;
	   
	}

	.social__listas {
		display: inline-block; 
		margin-right: 1rem; 
	  }
	  
	  .social__listas:hover .footer__midia img, 
	  .social__listas:hover .fa-linkedin {
		transform: scale(1.1); 
		transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1.24), box-shadow 0.3s ease-in-out; 
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
	  }
	  
	  .social__listas:hover .footer__midia img {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.2); 
	  }
	  
	  .fa-linkedin {
		display: flex; 
		justify-content: center;
		align-items: center;
		color: #0077b5; 
	  }
	  
	  .linkedin-icon {
		width: 2.5rem;
		height: 2.5rem;
		font-size: 2.5rem;
		border-radius: 50%; 
	  }
	

	  .slider-container {
		position: relative;
		width: 100%;
		height: 300px;
		overflow: hidden;
		margin-bottom: 3rem;
	  }
	  
	  .slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		transition: transform 0.5s ease-in-out;
	  }
	  
	  .slider__item {
		width: 25%;
		height: 100%;
		flex-shrink: 0;
	  }
	  
	  .slider__item img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	  }
	  
	  .slider-prev,
	  .slider-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		background: transparent;
		border: none;
		color: #0077c0;
		font-size: 2rem;
		cursor: pointer;
		transition: opacity 0.3s ease-in-out;
	  }
	  
	  .slider-prev:hover,
	  .slider-next:hover {
		opacity: 0.7;
	  }
	  
	  .slider-prev {
		left: 20px;
	  }
	  
	  .slider-next {
		right: 20px;
	  }
	  